<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>HTML to PDF converter</h1>
    <form action="/" method="POST">
        <textarea name="article" id="article" placeholder="Enter text here..." cols="100" rows="15" style="resize: none; word-wrap: break-word;"></textarea>
        <br>
        <center>
            <button type="submit">PDF generator</button>
        </center>
    </form>
</body>

</html>