<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sample PDF</title>
</head>

<body>
    <div>
        <div style="margin-left:40%;font-size:small;">
            <h3>D2I</h3>
        </div>
        <p style="margin:0px 15px 0px 15px;font-family:Times New Roman;font-weight:lighter;font-size:medium;word-break: break-word;">
            <%= data%>
        </p>
    </div>
</body>

</html>